<h2>Digital Millennium Copyright Act</h2>

<p>Jika kamu menemukan satu dari konten didalam aplikasi kami melanggar hak cipta Anda atau beberapa hasil pencarian aplikasi kami menunjukkan konten ilegal, Silakan hubungi email kami. Mohon tunggu 1-7 hari kerja untuk mendapatkan tanggapan email. Mohon diperhatikan bahwa mengirimkan keluhan anda melalui email kepihak lain seperti Penyedia Layanan Internet, Penyedia Hosting dan Pihak ketiga lainnya tidak akan mempercepat permintaan anda dan dapat mengakibatkan tanggapan tertunda karena keluhan tidak diajukan dengan benar.</p>
<p></p>
<p> - Cantumkan Nama, Alamat, Email dan Nomor Telepon Anda kepada kami, Kami berhak untuk menverifikasi informasi ini.</p>
<p> - Jelaskan materi berhak cipta mana yang terpengaruh.</p>
<p> - Harap berikan tautan url/screenshot yang tepat dan lengkap.</p>
<p> - Jika ini adalah kasus file dengan konten ilegal, harap jelaskan isinya secara singkat dalam dua atau tiga poin.</p>
<p> - Harap pastikan bahwa Anda dapat menerima pertanyaan lebih lanjut dari kami di alamat email yang anda gunakan.</p>
<p> - Harap kirimkan surat kepada kami hanya dalam bahasa Inggris atau Indonesia.</p>

<h2>PERHATIAN</h2>

Pesan anonim atau tidak lengkap kami tidak akan menanggapinya.

<h2>DISCLAIMER / PENOLAKAN</h2>

Tidak satupun dari semua file dan video yang terdapat pada aplikasi ini disimpan didalam server kami, Semua mengarah ke konten yang disimpan disitu pihak ketiga. AnimeDesu tidak bertanggung jawab atas konten yang disimpan di situs web pihak ketiga dan tidak terlibat dalam mengunduh ataupun mengunggah file atau video. Jika menurut anda ada konten di aplikasi ini yang melanggar undang-undang kekayaan intelektual dan Anda memegang hak cipta dari konten tersebut, harap laporkan ke jangnu.bantuan@gmail.com, Konten tersebut akan segera dihapus.
<p></p>
<p>Terimakasih.</p>
