<h2>Kebijakan Privasi</h2>

<b>JangNu</b> membuat aplikasi <b>AnimeDesu</b> sebagai aplikasi gratis. Aplikasi ini dapat digunakan tanpa dipungut biaya apapun dan dimaksudkan untuk digunakan apa adanya.

Halaman ini digunakan untuk memberi tahu pengunjung mengenai kebijakan kami dengan pengumpulan, pengunaan dan pengungkapan informasi pribadi jika ada yang memutuskan untuk menggunakan layanan kami.

Jika anda memilih untuk menggunakan layanan kami, maka anda setuju dengan pengumpulan dan penggunaan informasi sehubungan dengan kebijakan ini. Informasi pribadi yang kami kumpulkan digunakan untuk menyediakan dan meningkatkan kualitas layanan kami. Kami tidak akan menggunakan atau membagikan informasi anda kepada siapapun kecuali sebagaimana dijelaskan dalam Kebijakan Privasi ini.

<h2>Pengumpulan dan Penggunaan Informasi</h2>

Untuk pengalaman yang lebih baik saat menggunakan layanan kami, Kami mungkin meminta anda untuk memberikan informasi identifikasi pribadi tertentu kepada kami, Termasuk tetapi tidak terbatas pada Nama, Foto Profil, Jenis Kelamin, Alamat dan Nomor Identitas. Informasi yang kami minta akan disimpan oleh kami dan digunakan sebagaimana dijelaskan dalaman Kebijakan Privasi ini.

Aplikasi ini menggunakan layanan pihak ketiga yang dapat mengumpulkan informasi yang digunakan untuk mengindentifikasi Anda.

	<h4 style="text-decoration:none; color: #5e9ca0;">â€¢ Google Play Services</h4>

<h2>Keamanan</h2>

Kami menghargai kepercayaan Anda dalam memberikan Informasi Pribadi Anda kepada kami, Sehingga kami berupaya untuk menggunakan cara yang dapat diterima secara komersial untuk melindunginya. Kami menggunakan kemanan dari google untuk menjaga kemanannya. Tetapi ingat bahwa tidak ada metode transmisi melalui internet atau metode penyimpanan yang 100% aman dan kami tidak dapat menjamin kemanan absolutnya.

<h2>Tautan ke Situs Lain</h2>

Layanan ini dapat berisi tautan ke situs lain. Jika Anda mengklik tautan pihak ke tiga, Anda akan diarahkan ke situs itu. Perhatikan bahwa situs eksternal ini tidak dioperasikan oleh kami. Karena itu, Kami sangat menyarankan Anda untuk meninjau Kebijakan Privasi situs web ini. Kami tidak memiliki kendali atas dan tidak bertanggung jawab atas konten, kebijakan privasi atau layanan pihak ketiga mana pun.

<h2>Perubahan Kebijakan Privasi</h2>

Kami dapat memperbarui Kebijakan Privasi kami dari waktu ke waktu. Dengan demikian, Anda disarankan untuk meninjau halaman ini secara berkala untuk setiap perubahan. Kami akan memberi tahu Anda tentang segala perubahan halaman ini. Perubahan ini berlaku setelah diposting di halaman ini.

<h2>Hubungi Kami</h2>

Jika anda memiliki pertanyaan ataupun saran tentang Kebijakan Privasi ini, Anda dapat menghubungi kami di jangnu.bantuan@gmail.com
